.background {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.836);
}

.content h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.content {
  width: 45%;
  height: fit-content;
  background-color: var(--alert-blue);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 20px;
}

.sub {
  color: white;
  font-size: 14px;
}

.heading {
  font-size: 23px;
  color: white;
  margin-top: 20px;
}

@media (max-width: 900px) {
  .content {
    width: 80%;
  }
}
