.navbarContainer {
  width: 100%;
  background-color: var(--main);
}

.navBody {
  width: 90%;
  display: flex;
  justify-content: end;
  margin: auto;
  padding: var(--margin-navbar);
  align-items: center;
}

.navBody p {
  color: white;
  cursor: pointer;
}

.profile {
  width: 30px;
  height: 35px;
  border-radius: 50%;
  padding: 10px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: var(--margin-navbar);
  transition-duration: 0.5s;
  cursor: pointer;
}

.profile:hover {
  box-shadow: 0px 0px 20px 0px var(--glow);
}
